# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/*.opensdf
/Debug/*.ilk
/Debug/*.pdb
/GameEngineFightProject/Debug/GameEngi.384E83CE.tlog/*.tlog
/GameEngineFightProject/Debug/GameEngi.384E83CE.tlog/*
/GameEngineFightProject/Debug/*.idb
/GameEngineFightProject/Debug/*.pdb
*.sdf
